* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
  }
  
  html {
    height: 100vh;
    background-color: #062623;
    overflow-x: hidden;
  }
  
  /*로그인 되있는 메인 페이지 + 중복처리 */
  .LoginMain-main, .SignupMain-main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 190vh;
  }
  
  .LoginMain-frame {
    width: 640px;
    height: 100%;
    background-color: #040D09;
  }
  
  .LoginMain-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #062623;
    padding: 5px;
  }

  .LoginMain-SideMenu {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100%;
    background-color: #222;
    color: white;
    overflow: auto;
    transition: left 0.1s ease;
    z-index: 1500;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease;
    z-index: 1000;
  }
  
  .overlay.active {
    visibility: visible;
    opacity: 1;
  }
  
  .LoginMain-SideMenu.active {
    left: 0;
  }

  .SideMenu-img {
    width: 300px;
  }
  
  .SideMenu-function, .SideMenu-function2 {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 300px;
    height: 50px;
    font-family: "Noto Sans KR", serif;
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 5% ;
  }
  .SideMenu-function {
      background-color: #19AD8B;
  }

  .SideMenu-function2 {
    background-color: #731C1C;
  }

  #LoginFa-bar {
    width: 50px;
    font-size: 40px;
    margin-right: 3%;
    color: #fff;
    cursor: pointer;
    padding: 10px; 
    box-sizing: content-box;
    transform: translate(-10%);
  }
  
  .LoginNav-logo {
    position: relative;
    transform: translate(-30%); 
    width: 200px;
  }
  
  .LoginMain-navLogout {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Noto Sans KR", serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 15px;
    background-color: transparent;
    cursor: pointer;
    gap: 10px;
    margin-left: 35%;
  }
  
  .fa-arrow-right-from-bracket {
    font-size: 35px;
    color: #fff;
  }
  
  .navLogout-text {
    font-family: "Noto Sans KR", serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: #fff;
  }
  
  .main-texts {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-family: "Noto Sans KR", serif;
    font-weight: 600;
    color: #fff;
    transform: translateY(-20%);
    line-height: 1.2;
    margin-top: 3%;
  }
  
  .main-text {
    font-size: 30px;
  }
  
  .main-text2 {
    font-size: 55px;
  }
  
  .main-text3 {
    font-size: 12px;
    margin-top: 2%;
  }
  .main-startBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    border-radius: 5px;
    background-color: #19ad8b;
    margin-top: 2%;
  }
  
  .fa-chevron-down {
    margin-top: 5%;
    font-size: 30px;
  }

  .main-texts2 {
    display: flex;
    justify-self: center;
    align-items: center;
    font-family: "Noto Sans KR", serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }

  .main-explain {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    gap: 40px;
  }
  
  .main-shopping {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    height: 120px;
    border-radius: 15px;
    font-family: "Noto Sans KR", serif;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    background-color: #222;
  }

  .main-img3 {
    margin-left: 5%;
  }

  .main-shoppingTexts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 2%;
}

  .main-shoppingText {
    font-size: 30px;
  }

  .main-shoppingText2 {
    font-size: 15px;
    color: #999;
  }

  .main-gift {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    height: 120px;
    border-radius: 15px;
    font-family: "Noto Sans KR", serif;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    background-color: #222;
  }

  .main-img4 {
    margin-left: 5%;
  }

  .main-giftTexts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
}

.main-giftText {
    font-size: 30px;
  }

  .main-giftText2 {
    font-size: 15px;
    color: #999;
  }

.main-money {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    height: 120px;
    border-radius: 15px;
    font-family: "Noto Sans KR", serif;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    background-color: #222;
  }

  .main-img5 {
    margin-left: 5%;
  }

  .main-moneyTexts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 10%;
    margin-bottom: 2%;
}

  .main-moneyText {
    font-size: 30px;
  }

  .main-moneyText2 {
    font-size: 15px;
    color: #999;
  }
  /* 로그아웃된 메인 페이지 */
  
  .SignupMain-frame {
    width: 640px;
    height: 100%;
    background-color: #040D09;
  }

  .SignupMain-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #062623;
    padding: 5px;
  }
  
  .SignupMain-SideMenu {
    position: fixed;
    top: 0;
    left: -400px;
    width: 400px;
    height: 100%;
    background-color: #222;
    color: white;
    overflow: auto;
    transition: left 0.1s ease;
    z-index: 1500;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  }

  .SideMenu-img2 {
    width: 300px;
  }
  
  .SideMenu-text {
    font-family: "Noto Sans KR", serif;
    font-size: 20px;
    font-weight: 600;
    color: #999;
    margin-top: 15%;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s ease;
    z-index: 1000;
  }
  
  .overlay.active {
    visibility: visible;
    opacity: 1;
  }
  
  .SignupMain-SideMenu.active {
    left: 0;
  }

  #SignupFa-bar {
    width: 50px;
    font-size: 40px;
    margin-right: 3%;
    color: #fff;
    cursor: pointer;
    padding: 10px; 
    box-sizing: content-box;
    transform: translate(-10%);
  }

  .SignNav-logo {
    position: relative;
    transform: translate(-30%);
    width: 200px;
  }
  
  .SignMain-navLogin {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: transparent;
    font-family: "Noto Sans KR", serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 15px;
    cursor: pointer;
    gap: 10px;
    margin-left: 26%;
  }
  
  .fa-arrow-right-to-bracket {
    font-size: 35px;
    color: #fff;
  }
  
  /* 로그인 페이지 */
  .login-main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .login-frame {
    width: 640px;
    height: 100vh;
    background-color: #040d09;
  }
  
  .logo {
    margin-top: 10%;
  }
  
  .login-function {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    gap: 60px;
  }
  
  #login-username, #login-password {
    border: none;
    outline: none;
    width: 500px;
    font-family: "Noto Sans KR", serif;
    font-size: 20px;
    font-weight: 600;
    color: #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 10px;
    background-color: transparent;
  }
  
  .login-texts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    margin-top: 2%;
  }
  
  .login-text {
    font-family: "Noto Sans KR", serif;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
    color: #999;
  }
  
  .to-signup {
    font-family: "Noto Sans KR", serif;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
    text-decoration: none;
    color: #19ad8b;
  }
  
  .login-btn {
    width: 180px;
    height: 60px;
    font-family: "Noto Sans KR", serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    color: #f0f0f0;
    background-color: #19ad8b;
    margin-top: 5%;
  }
  
  /* 회원가입 */
  .signup-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signup-frame {
    width: 640px;
    height: 100vh;
    background-color: #040d09;
  }
  
  .signup-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans KR", serif;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #f0f0f0;
    margin-top: 10%;
  }
  
  .signup-function {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 8%;
  }
  
  #username, #email, #password, #password-check, #email-check {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "Noto Sans KR", serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    width: 500px;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 10px;
  }
  
  .email-number {
    width: 100px;
    height: 40px;
    font-family: "Noto Sans KR", serif;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    color: #f0f0f0;
    background-color: #19ad8b;
    transform: translateY(-350%);
    margin-left: 70%;
  }
  
  .signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
    font-family: "Noto Sans KR", serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    transform: translate(128%);
    color: #f0f0f0;
    background-color: #19ad8b;
  }
