* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #062623;
    overflow-x: hidden;
    min-height: 100vh;
}
.login-frame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 750px;
    height: 100vh;  
    background-color: #040d09;
}
.logo {
    position: absolute;
    bottom: 70%;
}
.login-lines {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 45%;
    gap: 100px
}
.login-line, .login-line2 {
    width: 550px;
    height: 0.5px;
    background-color: #fff;
}
.login-line input {
    position: absolute;
    bottom: 110%;
    left: 3%;
    border: none;
    outline: none;
    font-family: "Noto Sans KR", serif;
    font-size: 20px;
    font-weight: 600;
    color: #f0f0f0;
    background-color: transparent !important;
}
.login-line2 input {
    position: absolute;
    bottom: 10%;
    left: 3%;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "Noto Sans KR", serif;
    font-size: 20px;
    font-weight: 600;
    color: #f0f0f0;
}
.login-texts {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    top: 61%;
    gap: 5px;
}
.login-text {
    font-family: "Noto Sans KR", serif;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
    color: #999;
}
.to-signup {
    font-family: "Noto Sans KR", serif;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
    text-decoration: none;
    color: #19ad8b;
}
.login-btn {
    position: absolute;
    width: 180px;
    height: 60px;
    font-family: "Noto Sans KR", serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    top: 67%;
    color: #f0f0f0;
    background-color: #19ad8b;
}

.signup-frame {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 750px;
    height: 100vh;  
    background-color: #040d09;
}
.signup-text {
    position: absolute;
    top: 8%;
    font-family: "Noto Sans KR", serif;
    font-size: 45px;
    font-weight: 700;
    color: #f0f0f0;
    letter-spacing: 5px;
}
.signup-lines {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 28%;
    left: 13%;
    gap: 90px;
}
.signup-line, .signup-line2, .signup-line3, .signup-line4, .signup-line5 {
    width: 550px;
    height: 0.5px;
    background-color: #f0f0f0;
}
.signup-line input {
    position: absolute;
    bottom: 102%;
    left: 3%;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "Noto Sans KR", serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff
}
.signup-line2 input {
    position: absolute;
    bottom: 77%;
    left: 3%;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "Noto Sans KR", serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff
}
.signup-line3 input {
    position: absolute;
    bottom: 52%;
    left: 3%;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "Noto Sans KR", serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff
}
.signup-line4 input {
    position: absolute;
    bottom: 27%;
    left: 3%;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "Noto Sans KR", serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff
}
.signup-line5 input {
    position: absolute;
    bottom: 2%;
    left: 3%;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "Noto Sans KR", serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff
}
.signup-btn {
    position: absolute;
    width: 180px;
    height: 60px;
    font-family: "Noto Sans KR", serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    top: 82%;
    color: #f0f0f0;
    background-color: #19ad8b;
}