* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  height: 100vh;
  background-color: #062623;
  overflow-x: hidden;
}

  /* 로그인 */
.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.login-frame {
  width: 640px;
  height: 100vh;
  background-color: #040d09;
}

  #Signup-xmark {
    position: relative;
    font-size: 40px;
    color: #fff;
    transform: translate(120%, 50%);
    cursor: pointer;
  }
  
  .signup-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans KR", serif;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #f0f0f0;
    margin-top: 5%;
  }
  
  .signup-function {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 8%;
  }
  
  #username, #email, #password, #password-check, #email-check {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: "Noto Sans KR", serif;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    width: 500px;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 10px;
  }
  
  .email-number {
    width: 100px;
    height: 40px;
    font-family: "Noto Sans KR", serif;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    color: #f0f0f0;
    background-color: #19ad8b;
    transform: translateY(-120%);
    margin-left: 70%;
    cursor: pointer;
  }
  
  .email-number:hover {
    background-color: #12846d;
  }
  
  .signup-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
    font-family: "Noto Sans KR", serif;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    transform: translate(128%);
    color: #f0f0f0;
    background-color: #19ad8b;
    cursor: pointer;
  }
  
  .signup-btn:hover {
    background-color: #12846d;
  }
  
#login-xmark {
  position: relative;
  font-size: 40px;
  color: #fff;
  transform: translate(-150%, -150%);
  cursor: pointer;
}

.login-logo {
  position: relative;
  transform: translateY(80%);
}

.login-function {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25%;
  gap: 60px;
}

#login-username, #login-password {
  border: none;
  outline: none;
  width: 500px;
  font-family: "Noto Sans KR", serif;
  font-size: 20px;
  font-weight: 600;
  color: #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 10px;
  background-color: transparent;
}

.login-texts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  margin-top: 2%;
}

.login-text {
  font-family: "Noto Sans KR", serif;
  font-size: 13px;
  font-weight: 600;
  white-space: nowrap;
  color: #999;
}

.to-signup {
  font-family: "Noto Sans KR", serif;
  font-size: 13px;
  font-weight: 600;
  white-space: nowrap;
  text-decoration: none;
  color: #19ad8b;
}

.login-btn {
  width: 180px;
  height: 60px;
  font-family: "Noto Sans KR", serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  color: #f0f0f0;
  background-color: #19ad8b;
  margin-top: 5%;
}

.login-btn:hover {
  background-color: #12846d;
}

/* 회원가입 */
.signup-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-frame {
  width: 640px;
  height: 100vh;
  background-color: #040d09;  
}

#Signup-xmark {
  position: relative;
  font-size: 40px;
  color: #fff;
  transform: translate(70%, 50%);
  cursor: pointer;
}

.signup-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", serif;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 5px;
  color: #f0f0f0;
  margin-top: 5%;
}

.signup-function {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-top: 8%;
}

#username, #email, #password, #password-check, #email-check {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Noto Sans KR", serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  width: 500px;
  border-bottom: 1px solid #f0f0f0;
  padding: 10px 10px;
}

.email-number {
  width: 100px;
  height: 40px;
  font-family: "Noto Sans KR", serif;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  color: #f0f0f0;
  background-color: #19ad8b;
  transform: translateY(-120%);
  margin-left: 70%;
  cursor: pointer;
}

.email-number:hover {
  background-color: #12846d;
}

.signup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 60px;
  font-family: "Noto Sans KR", serif;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  transform: translate(128%);
  color: #f0f0f0;
  background-color: #19ad8b;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: #12846d;
}